html{
    font-size: 62.5%;
}
    
.entry-header{
    margin-bottom: 20px;
}
h2{
    font-size: 2.5rem;
}
.flexbox{
    font-size: 1.8rem;
    margin-top: 20px;
    display:flex;
    .entry-subtitle{
        margin-right: 20px;
    }
    .entry-content{
        margin-bottom: 0px;
    }
}
.bx-wrapper{
    margin:auto;
  }
@media (min-width: 320px) {
    .simulation{
        font-size:calc(1rem + ((1vw - 3.2px) * 0.5625));
        th{
            font-size:calc(1rem + ((1vw - 3.2px) * 0.5625));
        }
        .align-center{
            text-align:center;
        }
        .minus{
            color: red;
        }
    }
}