.entry-header{
    margin-bottom: 20px;
}
h2{
    font-size: 1.5rem;
}
.flexbox{
    font-size: 1.1rem;
    margin-top: 20px;
    display:flex;
    .entry-subtitle{
        margin-right: 20px;
    }
    .entry-content{
        margin-bottom: 0px;
    }
}
.bx-wrapper{
    margin:auto;
  }
.simulation{
    .align-right{
        text-align:right;
    }
    .minus{
        color: red;
    }
}