/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/10/28, 0:09:09
    Author     : Toshiki
*/
@media screen and (min-width: 500px) {
  .sp-logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .pc-logo {
    display: none;
  }
}
